* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --main-bg-dark: #000e1e;
  --main-fg-dark: #e6ecf3;
  --accent-dark: #3392ff;
  --faded-accent-dark: hsl(212, 50%, 60%);
  --error-dark: red;
  --warning-dark: #ffc107;
  --success-dark: #28a745;
  --faded-dark: #8da4bf;

  --main-bg-light: #f0f8ff;
  --main-fg-light: #0e141b;
  --accent-light: #167eeb;
  --faded-accent-light: #4474aa;
  --error-light: #d32f2f;
  --warning-light: #743600;
  --success-light: #28a745;
  --faded-light: #5a6e85;

  --main-bg: light-dark(var(--main-bg-light), var(--main-bg-dark));
  --main-fg: light-dark(var(--main-fg-light), var(--main-fg-dark));
  --accent: light-dark(var(--accent-light), var(--accent-dark));
  --faded-accent: light-dark(
    var(--faded-accent-light),
    var(--faded-accent-dark)
  );
  --error: light-dark(var(--error-light), var(--error-dark));
  --warning: light-dark(var(--warning-light), var(--warning-dark));
  --success: light-dark(var(--success-light), var(--success-dark));
  --faded: light-dark(var(--faded-light), var(--faded-dark));

  color: var(--main-fg);
  background-color: var(--main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
